<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Título de tu correo electrónico</title>
    <style>
        body {
            background-color: #f0f8ff; /* Azul claro */
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            background-color: white;
            margin: 20px auto;
            padding: 20px;
            max-width: 600px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="text-align: center;">
        <h2>Notificación desde Formulario de contacto</h2>
        <p> Nombre de cliente: <span th:text="${nameClient}"></span></p>
        <p> Notificación desde correo: <span th:text="${emailContact}"></span></p>
        <p> Telefono de contacto: <span th:text="${phone}"></span></p>
        <p> Mensaje: <span th:text="${messageContact}"></span></p>
    </div>
</div>
</body>
</html>