<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Título de tu correo electrónico</title>
  <style>
    body {
        background-color: #f0f8ff; /* Azul claro */
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    .container {
        background-color: white;
        margin: 20px auto;
        padding: 20px;
        max-width: 600px;
        border-radius: 5px;
    }
    .header {
        background-color: #007acc; /* Azul */
        color: white;
        padding: 10px;
        text-align: center;
    }
    .footer {
        background-color: #007acc;
        color: white;
        text-align: center;
        padding: 6px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Vials Motors</h1>
    <p>Teléfono: +123456789 | <a href="https://facebook.com/tuempresa">Facebook</a> | <a href="https://twitter.com/tuempresa">Twitter</a></p>
  </div>

  <div style="text-align: center;">
    <h2>Notificación de Reserva</h2>
    <p> Vials Motors te informa que se genero una reserva para la fecha <span th:text="${date}"></span></p>
    <p> Te recordamos que para modificar o cancelar la reserva se debe de realizar con 2 horas de antelación</p>
  </div>

  <div class="footer">
    <p>Correo: vialsmotors@gmail.com</p>
    <p><a href="https://www.tuempresa.com/privacidad">Política de privacidad</a> | <a href="https://www.tuempresa.com/terminos">Términos y condiciones</a></p>
    <p>&copy; 2023 Vials Motors</p>
  </div>
</div>
</body>
</html>
