<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Título de tu correo electrónico</title>
    <style>
        body {
            background-color: #f0f8ff; /* Azul claro */
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            background-color: white;
            margin: 20px auto;
            padding: 20px;
            max-width: 600px;
            border-radius: 5px;
        }
        .header {
            background-color: #007acc; /* Azul */
            color: white;
            padding: 10px;
            text-align: center;
        }
        .footer {
            background-color: #007acc;
            color: white;
            text-align: center;
            padding: 6px;
        }
        .extra {
            color: #c11717;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Vials Motors</h1>
        <p>Teléfono: +123456789 | <a href="https://facebook.com/tuempresa">Facebook</a> | <a href="https://twitter.com/tuempresa">Twitter</a></p>
    </div>

    <div style="text-align: center;">
        <h2><span th:text="${nameClient}"></span> Vials Motors te informa sobre Novedad</h2>
        <p> Tu Vehiculo se encuentra con el siguiente estado: <h4><span th:text="${status}"></span></h4>
        <p> El vehiculo presenta la siguiente novedad: <h4><span th:text="${novelty}"></span></h4>
        <p> NOTA: <span th:text="${extra}"></span></p>
        <p class="extra"> Recuerda, si no recibiste una llamada informandote de la novedad, llamar a nuestra linea de atención +123456789</p>
    </div>

    <div class="footer">
        <p>Correo: vialsmotors@gmail.com</p>
        <p><a href="https://www.tuempresa.com/privacidad">Política de privacidad</a> | <a href="https://www.tuempresa.com/terminos">Términos y condiciones</a></p>
        <p>&copy; 2023 Vials Motors</p>
    </div>
</div>
</body>
</html>
